@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --color-light-gray: #f2f2f2;
  --color-pink: #FE4D4A;
  --color-light-pink: #FF9796;
  --color-bg-pink: #FEEBEF;
  --color-very-light-pink: #FFF6F8;
  --color-gray: #E2E2E2;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input:focus {
  outline: none;
}

h2,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 2rem 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 700px;
  background-color: white;
  padding: 1rem 1.5rem;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 1rem;
}

.accent {
  font-size: 25px;
  color: var(--color-pink);
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  section {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  section {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  section {
    width: 100%;
  }
}