.banner__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-right: -1rem;
}

.banner__text {
  margin-right: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.banner__button {
  background: var(--color-pink);
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
}